// section space
.ic-section-space {
  padding: 90px 0px;
}

// section space top
.ic-section-space-top {
  padding-top: 90px;
}

// section space bottom
.ic-section-space-bottom {
  padding-bottom: 90px;
}

.ic-section-header-space {
  margin-bottom: 60px;
}

.ic-content-space {
  margin-bottom: 30px;
}

.ic-content-space-small {
  margin-bottom: 18px;
}

.ic-content-space-extra-small {
  margin-bottom: 15px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-59 {
  margin-bottom: 59px;
}

.mb-58 {
  margin-bottom: 58px;
}

.mb-57 {
  margin-bottom: 57px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-54 {
  margin-bottom: 54px;
}

.mb-53 {
  margin-bottom: 53px;
}

.mb-52 {
  margin-bottom: 52px;
}

.mb-51 {
  margin-bottom: 51px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-49 {
  margin-bottom: 49px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-47 {
  margin-bottom: 47px;
}

.mb-46 {
  margin-bottom: 46px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-55 {
  margin-bottom: 55px;
}

.mb-44 {
  margin-bottom: 44px;
}

.mb-43 {
  margin-bottom: 43px;
}

.mb-42 {
  margin-bottom: 42px;
}

.mb-41 {
  margin-bottom: 41px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-39 {
  margin-bottom: 39px;
}

.mb-38 {
  margin-bottom: 38px;
}

.mb-37 {
  margin-bottom: 37px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-34 {
  margin-bottom: 34px;
}

.mb-33 {
  margin-bottom: 33px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-29 {
  margin-bottom: 29px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-27 {
  margin-bottom: 27px;
}

.mb-26 {
  margin-bottom: 26px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-23 {
  margin-bottom: 23px;
}

.mb-22 {
  margin-bottom: 22px;
}

.mb-21 {
  margin-bottom: 21px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-19 {
  margin-bottom: 19px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-17 {
  margin-bottom: 17px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-13 {
  margin-bottom: 13px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-11 {
  margin-bottom: 11px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-9 {
  margin-bottom: 9px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-7 {
  margin-bottom: 7px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mb-5 {
  margin-bottom: 5px;
}

// font weight
.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

// font size
.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 12px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
}

.fs-20 {
  font-size: 20px;
}

// position relative
.ic-pos-rel {
  position: relative;
}

// overflow hidden
.ic-over-hi {
  overflow: hidden;
}

.ic-bg-style {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

// social
.ic-social {
  a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 7px;

    i {
      font-size: 14px;
      color: $color-white;
    }

    &:last-of-type {
      margin-right: 0px;
    }

    &:hover {
      background-color: #333;
    }
  }
}

.ic-social-secondary {
  a {
    width: 40px;
    height: 40px;
    line-height: 40px;

    i {
      font-size: 16px;
    }
  }
}
