//Font

@font-face {
  font-family: roboto-regular;
  src: url("../../fonts/text-fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto-medium;
  src: url("../../fonts/text-fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: roboto-bold;
  src: url("../../fonts/text-fonts/Roboto-Bold.ttf");
}

$font-roboto-regular: roboto-regular;
$font-roboto-medium: roboto-medium;
$font-roboto-bold: roboto-bold;

//Color

$color-white: #fff;
$color-primary: #ffb607;
$color-red: #ff002a;
$color-navy: #003d69;
$color-sky: #3db2d5;
$color-green: #3ab64c;
$color-purple: #56225e;
$color-text: #52575e;

// text color
.cl-white {
  color: $color-white;
}
.cl-primary {
  color: $color-primary;
}
.cl-red {
  color: $color-red;
}
.cl-navy {
  color: $color-navy;
}
.cl-sky {
  color: $color-sky;
}
.cl-purple {
  color: $color-purple;
}
.cl-text {
  color: $color-purple;
}

// bg color
.bg_primary {
  background: $color-primary;
}
.bg_red {
  background: $color-red;
}
.bg_navy {
  background: $color-navy;
}
.bg_sky {
  background: $color-sky;
}
.bg_green {
  background: $color-green;
}

//Media Query

$max1920: "only screen and (max-width: 1920px)";
// $max1850: "only screen and (max-width: 1850px)";
$max1800: "only screen and (max-width: 1800px)";
// $max1760: "only screen and (max-width: 1760px)";
$max1650: "only screen and (max-width: 1650px)";
$max1399: "only screen and (max-width: 1399.98px)";
$max1366: "only screen and (max-width: 1366px)";
$max1280: "only screen and (max-width: 1280px)";
$max1199: "only screen and (max-width: 1199.98px)";
$max991: "only screen and (max-width: 991.98px)";
$max767: "only screen and (max-width: 767.98px)";
$max575: "only screen and (max-width: 575.98px)";
$max480: "only screen and (max-width: 480px)";
$max374: "only screen and (max-width: 374.98px)";
